django==6.0.1
django-bootstrap5==26.1
numpy==2.4.1
matplotlib==3.10.8
django-autocomplete-light==3.12.1
requests==2.32.5
tldextract==5.3.1
django4-background-tasks==1.2.10
psutil==7.2.1
impacket==0.13.0
pyasn1==0.6.2
fontawesomefree==6.6.0
django-datatables-view==1.20.0
neo4j==6.1.0
dateparser==1.2.2
django-taggit==6.1.0
XlsxWriter==3.2.9
jsonschema==4.26.0
json2table==1.1.5
django-reversion==6.1.0
django-taggit-bulk==0.0.4b1
Pillow==12.1.0
duckdb==1.4.3
django-permissions-policy==4.28.0
ansi2html==1.9.2
django-plugins-bihealth==0.5.2
yara-x==1.11.0
django-import-export==4.4.0
chevron-blue==0.3.0
djangorestframework==3.16.1
django-rest-durin==1.1.0
