{% extends "base/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
Change Password
{% endblock title %}

{% block head %}
{% include "base/external-libs/jquery.html" %}
{% endblock %}

{% block body %}
{% block bootstrap5_content %}
<div class="container">
  <main>
    <div class="py-3">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_field form.old_password layout='horizontal'%}
        {% bootstrap_field form.new_password1 layout='horizontal'%}
        {% bootstrap_field form.new_password2 layout='horizontal'%}

        <a role="button" class="btn btn-secondary back-button">Cancel</a>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>

    <script nonce="{{csp_nonce}}">
      $(".back-button").on("click", function() {history.back()})
    </script>
  </main>
</div>
{% endblock bootstrap5_content %}
{{ form.media }}
{% endblock body %}
