.description ~ div, .input ~ div {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.input::before {
    content: "\00BB  ";
}

.input, .output {
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
}

.output {
    font-style: italic;
}