{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="{% static 'fontawesomefree/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/regular.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Exo:200,400" rel="stylesheet">

    <style nonce="{{csp_nonce}}">
        .header {
            color: white;
            font-family: 'Exo', sans-serif;
            font-weight: 200;
        }

        .header span{
            color: black !important;
        }

        .navbar {
            background-color: #748da5;
        }
    </style>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static '/favicons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static '/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static '/favicons/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{% static '/favicons/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">
        <title>Stepping Stones : {% block title %}Initial Configuration{% endblock title %}</title>
        {% block head %}{% endblock head %}
  </head>

  <body>
    <script nonce="{{csp_nonce}}">
        // Set theme to the user's preferred color scheme
        function updateTheme() {
          const colorMode = window.matchMedia("(prefers-color-scheme: dark)").matches ?
            "dark" :
            "light";
          document.querySelector("html").setAttribute("data-bs-theme", colorMode);
        }

        // Set theme on load
        updateTheme()

        // Update theme when the preferred scheme changes
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)
    </script>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="{% static "background/stone-stack.webp" %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
          <span class="header">Stepping <span>Stones</span></span>
        </a>
      </div>
    </nav>

    {% block body %}{% endblock body %}
  </body>
</html>