{% extends "base/base.html" %}
{% load static %}

{% block cobalt-strike-menu-class %}
active
{% endblock %}

{% block title %}
CS Logs
{% endblock title %}

{% block head %}
    {% include "base/external-libs/jquery.html" %}
    {% include "base/external-libs/datatables-pdfexport.html" %}

    <script src="{% static "/scripts/jquery.expander.js" %}"></script>

    <link rel="stylesheet" href="{% static "css/event_table.css"%}">
    <script src="{% static "scripts/event_table.js" %}"></script>
    <script nonce="{{request.csp_nonce}}">
    let eventTableConfig = {
        monospaceFontURL: '{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "fonts/RobotoMono-Regular.ttf" %}',
        brandingSVG: '{{REPORT_FOOTER_IMAGE}}',
        brandingText: '{{REPORT_FOOTER_TEXT}}',
        totalColumns: 6,
        descriptionColumn: 3,
    }
    </script>
    
    <style nonce="{{request.csp_nonce}}">
    .fa-ul {
        margin-left: 30px; margin-bottom: 0px
    }

    table.dataTable tr td:nth-child(4) {
        word-break: break-all;
    }
    .dt-buttons {
        float: right;
        padding-left: .25em;
    }
    .dt-buttons > .btn {
        padding: .200rem .75rem;
    }
    div.dataTables_wrapper div.dataTables_info {
        padding-top: 0;
    }
    
    div:has(+.dt-layout-table) {
        padding-top: 0.5em;
        padding-bottom: 1em;
    }
    </style>
{% endblock head %}

{% block body %}
{% block bootstrap5_content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="mt-2">
            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th scope="col">Timestamp</th>
                  <th scope="col">Source</th>
                  <th scope="col">Target</th>
                  <th scope="col">Description</th>
                  <th scope="col">MITRE</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

  <script nonce="{{request.csp_nonce}}">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
      $.fn.dataTable.moment('{% datetime_format_moment %}');
      $('.table').DataTable({
          "processing": true,
          "serverSide": true,
          "ajax": "{% url 'event_tracker:cs-logs-json' %}",
          language: {
            emptyTable: "<i class='fa fa-exclamation-triangle' aria-hidden='true'></i> No logs found, ensure they are being polled for or remove <a href='{% url 'event_tracker:cs-beacon-exclusion-list' %}'>beacon exclusions</a>.",
            searchBuilder: {
                button: {
                    0: 'Timebox',
                    _: 'Timebox (%d)'
                }
            },
            entries: {
                _: 'logs',
                1: 'log'
            }
          },
          buttons:[
            {
              extend: 'searchBuilder',
              config: {
                columns: [0],
                conditions: {
                  moment: {
                    '!between': null,
                    '!null': null,
                    'null': null,
                    '=': null,
                    '!=': null
                  }
                },
              }
            },
            {
                text: 'Export PDF',
                action: pdfExportAction,
                extend: 'pdfHtml5',  // Required to pull in default config
                orientation: "landscape",
                customize: pdfExportCustomize,
                title: "Cobalt Strike Logs",
                exportOptions: {
                    stripNewlines: false,
                    orthogonal: 'export'  // Force a fresh call to the render function below passing in "export" as the type
                }
            },
          ], 
          fixedHeader: {
            header: true,
            headerOffset: $('.navbar').outerHeight()
          },
          order: [[0, 'desc']],
          columns: [
            { searchBuilderType: "moment-{% datetime_format_moment %}" },
            { orderable: false },
            { orderable: false },
            { render: descriptionRender },
            null,
            { orderable: false },
          ],
          drawCallback: tableDrawCallback
      } )
    })
  </script>
{%  endblock bootstrap5_content %}
{% endblock body %}
