{# use https://www.srihash.org/ for integrity if not on https://cdnjs.com/ #}
<link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-2.1.2/b-3.1.0/b-html5-3.1.0/date-1.5.3/fh-4.0.1/sb-1.7.1/datatables.min.css" integrity="sha384-175zngN2sx/S09UbSGKjS0VLJQX9jFTJHy7/+kLlysisOst/A8Cbpy+DSBNB+yPR" crossorigin="anonymous">
<script src="https://cdn.datatables.net/v/bs5/dt-2.1.2/b-3.1.0/b-html5-3.1.0/date-1.5.3/fh-4.0.1/sb-1.7.1/datatables.min.js" integrity="sha384-mr9oP0VA2qYagWDeIoo/J8o2g6EJBCcsfuk6J5Ec9iXM28DRLHCnCA2oA0k3WeSq" crossorigin="anonymous"></script>

{% include "base/external-libs/momentjs.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-plugins/1.13.4/sorting/datetime-moment.min.js" integrity="sha512-cln13IRvnKJQmByR8cXOb9NMF0BzbIQbQb29vbX6mQYKsO1uyRYlGB2jWtGRgXaCq3JWqLqDZNOJ9kHzYH+dkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script nonce="{{request.csp_nonce}}">
    DataTable.datetime("{% datetime_format_moment %}")
    DataTable.defaults.column.orderSequence = ['asc', 'desc']; // Remove neutral column sorting as an option - it breaks the server side query string parsing and feels clunky
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha512-a9NgEEK7tsCvABL7KqtUTQjl69z7091EVPpw5KxPlZ93T141ffe1woLtbXTX+r2/8TtTvRX/v4zTL2UlMUPgwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.min.js" integrity="sha512-P0bOMePRS378NwmPDVPU455C/TuxDS+8QwJozdc7PGgN8kLqR4ems0U/3DeJkmiE31749vYWHvBOtR+37qDCZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>