{# use https://www.srihash.org/ for integrity if not on https://cdnjs.com/ #}
<link href="https://cdn.datatables.net/v/bs5/dt-2.0.8/b-3.0.2/date-1.5.2/fh-4.0.1/sb-1.7.1/datatables.min.css" rel="stylesheet">
 <script src="https://cdn.datatables.net/v/bs5/dt-2.0.8/b-3.0.2/date-1.5.2/fh-4.0.1/sb-1.7.1/datatables.min.js"></script>

{% include "base/external-libs/momentjs.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-plugins/1.13.4/sorting/datetime-moment.min.js" integrity="sha512-cln13IRvnKJQmByR8cXOb9NMF0BzbIQbQb29vbX6mQYKsO1uyRYlGB2jWtGRgXaCq3JWqLqDZNOJ9kHzYH+dkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>