{% load django_bootstrap5 %}
<html lang="en" data-bs-theme="dark">
  <head>
    {% include "base/external-libs/bootstrap.html" %}
  </head>
  <body>
    <script nonce="{{csp_nonce}}">
        // Set theme to the user's preferred color scheme
        function updateTheme() {
          const colorMode = window.matchMedia("(prefers-color-scheme: dark)").matches ?
            "dark" :
            "light";
          document.querySelector("html").setAttribute("data-bs-theme", colorMode);
        }

        // Set theme on load
        updateTheme()

        // Update theme when the preferred scheme changes
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)
    </script>
    {% block bootstrap5_content %}
    <h2>{{ node_dict.name }}</h2>

    <table class="table table-striped">
    {% for key, value in node_dict.items %}
        <tr>
            <th {% if key == 'owned' and value == True %}class="text-danger col-md-3"{% else %}class="col-md-3"{% endif %}>{{ key }}</th>
            <td {% if key == 'owned' and value == True %}class="text-danger"{% endif %}>{% if key == 'pwdlastset' or key == 'whencreated' or key == 'lastlogontimestamp' or key == 'lastlogon'%}
                    {% if value == -1 %}
                        Never
                    {% else %}
                        {{ value|epoch_to_ts|render_ts_local }}
                    {% endif %}
                {% elif key == 'highvalue' %}
                    <a href="{% url 'event_tracker:bloodhound-node-toggle-highvalue' dn %}" class="btn {% if value %}btn-primary{% else %}btn-outline-primary{% endif %} btn-sm">{{ value }}</a>
                {% else %}
                    {{ value }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% endblock bootstrap5_content %}
</body>
