{% extends "base/base.html" %}
{% load custom_tags %}
{% load static %}

{% block bloodhound-menu-class %}
active
{% endblock %}

{% block title %}
BloodHound Servers
{% endblock title %}

{% block head %}
    {% include "base/external-libs/jquery.html" %}
    {% include "base/external-libs/turndown-tables.html" %}
    
    <style nonce="{{request.csp_nonce}}">
        .copyToClipboard { text-decoration: none; cursor: copy; color: var(--bs-body-color) }
        .copyToClipboard i { opacity: 25%; color: var(--bs-secondary-color) }
        .copyToClipboard:hover { text-decoration: none; cursor: copy}
        .copyToClipboard:hover i { opacity: 100% !important }
    </style>
    
    <script nonce="{{request.csp_nonce}}">
        function copyToClipboard(element) {
            jq_element = $(element);
            navigator.clipboard.writeText(jq_element.text());
            // Remove any other done clipboards on the page
            $('i.fa-clipboard-check').replaceWith('<i class="fa-regular fa-paste ms-1"></i>');
            // Mark our clipboard as done
            jq_element.children('i').replaceWith('<i class="fa-solid fa-clipboard-check ms-1 opacity-50"></i>');
        }
        
        $(function() {
            $(".copyToClipboard").on("click", function() {copyToClipboard(this)});
        })
    </script>
{% endblock %}

{% block filter %}
    {{ form.media }}
    <form class="d-flex me-2" method="post">
     <label for="system" class="d-flex align-items-center text-white-50">Domain:&nbsp;&nbsp;</label>
     {% csrf_token %}
     {{ form.domain }}
    </form>
{% endblock filter %}

{% block body %}
{% block bootstrap5_content %}
    <div class="container-fluid">
    <div class="py-4 row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row row-cols-sm-1 row-cols-md-2 g-3">
                    <div class="col-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    O/S Distribution
                                    <button class="markdown-table-copy btn btn-sm btn-light float-sm-end" title="Copy table as markdown"><i class="fa-solid fa-code"></i></button>
                                </h5>
                                <div class="card-text>">
                                    <p>
                                    {% if os_distribution %}
                                        <table class="table table-sm table-striped">
                                          <thead>
                                            <tr>
                                              <th scope="col">Operating System</th>
                                              <th scope="col">Number Auth'ed in Month Prior to BloodHound Data</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for name, value in os_distribution.items %}
                                                <tr>
                                                    <td>{{ name }}</td>
                                                    <td>{{ value }} <a title="Copy associated Cypher query to clipboard" class="copyToClipboard"><span class="d-none">{{ os_distribution_query|getdictentry:name }}</span><i class="fa-regular fa-paste ms-1"></i></a></td>
                                                </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                    {% else %}
                                        <div class="alert alert-secondary mt-3" role="alert">
                                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No BloodHound data found
                                        </div>
                                    {% endif %}
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Kerberoastable Users
                                    <button class="markdown-table-copy btn btn-sm btn-light float-sm-end" title="Copy table as markdown"><i class="fa-solid fa-code"></i></button>
                                </h5>
                                <div class="card-text>">
                                    <p>
                                        {% if kerberoastable_users %}
                                            <table class="table table-sm table-striped">
                                              <thead>
                                                <tr>
                                                  {% if kerberoastable_domain_count > 1 %}
                                                    <th scope="col">Domain</th>
                                                  {% endif %}
                                                  <th scope="col">Username</th>
                                                  <th scope="col">Member of High Value Group</th>
                                                  <th scope="col">Ticket Type</th>
                                                  <th scope="col">Cracked?</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                 {% if kerberoastable_ticket_count %}
                                                    <p>Obtained {{ kerberoastable_ticket_count }} ticket{{ kerberoastable_ticket_count|pluralize }} from {{ kerberoastable_users|length }} affected account{{ kerberoastable_users|length|pluralize }}
                                                        {% if kerberoastable_domain_count > 1 %}across {{ kerberoastable_domain_count }} domains{% else %}on the {{ kerberoastable_users.copy.popitem.1 | getdictentry:"domain" }} domain{% endif %},
                                                        with {{ kerberoastable_cracked_count }} cracked.</p>
                                                 {% endif %}
                                                 {% for name, value in kerberoastable_users.items %}
                                                    <tr>
                                                      {% if kerberoastable_domain_count > 1 %}
                                                        <td>{{ value.domain }}</td>
                                                      {% endif %}
                                                        <td>{{ name }}</td>
                                                        <td>{{ value.high_value_group | default:"-"}}</td>
                                                        <td>{{ value.credential.hash_type_obj.name|cut:"Kerberos_5_TGSREP_"|default:"No Ticket Obtained" }}</td>
                                                        <td>{% if value.credential.secret %}Yes{% elif not value.credential %}N/A{% else %}No{% endif %}</td>
                                                    </tr>
                                                {% endfor %}
                                              </tbody>
                                            </table>
                                        {% else %}
                                            <div class="alert alert-secondary mt-3" role="alert">
                                              <i class="fa-solid fa-circle-info" aria-hidden="true"></i> No kerberoastable users found
                                            </div>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    ASREProastable Users
                                    <button class="markdown-table-copy btn btn-sm btn-light float-sm-end" title="Copy table as markdown"><i class="fa-solid fa-code"></i></button>
                                </h5>
                                <div class="card-text>">
                                    <p>
                                        {% if asreproastable_users %}
                                            {%  if asreproastable_ticket_count %}
                                                <p>Obtained {{ asreproastable_ticket_count }} ticket{{ asreproastable_ticket_count|pluralize }} from {{ asreproastable_users|length }} affected account{{ asreproastable_users|length|pluralize }}
                                                    {% if asreproastable_domain_count > 1 %}across {{ asreproastable_domain_count }} domains{% else %}on the {{ asreproastable_users.copy.popitem.1 | getdictentry:"domain" }} domain{% endif %},
                                                    with {{ asreproastable_cracked_count }} cracked.</p>
                                            {% endif %}
                                            <table class="table table-sm table-striped">
                                              <thead>
                                                <tr>
                                                  {% if asreproastable_domain_count > 1 %}
                                                    <th scope="col">Domain</th>
                                                  {% endif %}
                                                  <th scope="col">Username</th>
                                                  <th scope="col">Member of High Value Group</th>
                                                  <th scope="col">Ticket Type</th>
                                                  <th scope="col">Cracked?</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                 {% for name, value in asreproastable_users.items %}
                                                    <tr>
                                                      {% if asreproastable_domain_count > 1 %}
                                                        <td>{{ value.domain }}</td>
                                                      {% endif %}
                                                        <td>{{ name }}</td>
                                                        <td>{{ value.high_value_group | default:"-"}}</td>
                                                        <td>{{ value.credential.hash_type_obj.name|cut:"Kerberos_5_ASREP_"|default:"No Ticket Obtained" }}</td>
                                                        <td>{% if value.credential.secret %}Yes{% elif not value.credential %}N/A{% else %}No{% endif %}</td>
                                                    </tr>
                                                {% endfor %}
                                              </tbody>
                                            </table>
                                        {% else %}
                                            <div class="alert alert-secondary mt-3" role="alert">
                                              <i class="fa-solid fa-circle-info" aria-hidden="true"></i> No ASREProastable users found
                                            </div>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </div>
  </div>
</div>
{%  endblock bootstrap5_content %}
{% endblock body %}
