{% extends "base/base.html" %}
{% load static %}

{% block bloodhound-menu-class %}
active
{% endblock %}

{% block title %}
BloodHound Servers
{% endblock title %}

{% block head %}
    {% include "base/external-libs/jquery.html" %}
    {% include "base/external-libs/turndown-tables.html" %}
{% endblock %}

{% block body %}
{% block bootstrap5_content %}
    <div class="container-fluid">
    <div class="py-4 row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row row-cols-sm-1 row-cols-md-2 g-3">
                    <div class="col-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    O/S Distribution
                                    <button class="markdown-table-copy btn btn-sm btn-light float-sm-end" title="Copy table as markdown"><i class="fa-solid fa-code"></i></button>
                                </h5>
                                <div class="card-text>">
                                    <p>
                                    {% if os_distribution %}
                                        <table class="table table-sm table-striped">
                                          <thead>
                                            <tr>
                                              <th scope="col">Operating System</th>
                                              <th scope="col">Number Auth'ed in Month Prior to BloodHound Data</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for name, value in os_distribution.items %}
                                                <tr>
                                                    <td>{{ name }}</td>
                                                    <td>{{ value }}</td>
                                                </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                    {% else %}
                                        <div class="alert alert-secondary mt-3" role="alert">
                                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No BloodHound data found
                                        </div>
                                    {% endif %}
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Kerberoastable Users
                                    <button class="markdown-table-copy btn btn-sm btn-light float-sm-end" title="Copy table as markdown"><i class="fa-solid fa-code"></i></button>
                                </h5>
                                <div class="card-text>">
                                    <p>
                                        {% if kerberoastable_users %}
                                            <table class="table table-sm table-striped">
                                              <thead>
                                                <tr>
                                                  <th scope="col">Username</th>
                                                  <th scope="col">Ticket Type</th>
                                                  <th scope="col">Cracked?</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                 {% for name, value in kerberoastable_users.items %}
                                                    <tr>
                                                        <td>{{ name }}</td>
                                                        <td>{{ value.hash_type_obj.name|cut:"Kerberos_5_TGSREP_"|default:"No Ticket Obtained" }}</td>
                                                        <td>{% if value.secret %}Yes{% elif not value %}N/A{% else %}No{% endif %}</td>
                                                    </tr>
                                                {% endfor %}
                                              </tbody>
                                            </table>
                                        {% else %}
                                            <div class="alert alert-secondary mt-3" role="alert">
                                              <i class="fa-solid fa-circle-info" aria-hidden="true"></i> No kerberoastable users found
                                            </div>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </div>
  </div>
</div>
{%  endblock bootstrap5_content %}
{% endblock body %}
