{% extends "base/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block cred-menu-class %}
active
{% endblock %}

{% block title %}
Upload Cracked Hashes
{% endblock title %}

{% block body %}
{% block bootstrap5_content %}
<div class="container">
  <main>
    <div class="py-3">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <a href="{% url 'event_tracker:credential-list' 1 %}" role="button" class="btn btn-secondary">Cancel</a>

            <button type="submit" class="btn btn-success">Upload</button>
        </form>
    </div>
  </main>
</div>
{%  endblock bootstrap5_content %}
{% endblock body %}
