{% extends "base/base.html" %}
{% load humanize %}
{% load custom_tags %}
{% load static %}

{% block cred-menu-class %}
active
{% endblock %}

{% block title %}
Credential Stats
{% endblock title %}

{% block head %}
    {% include "base/external-libs/jquery.html" %}
    {% include "base/external-libs/turndown-tables.html" %}
{% endblock %}

{% block filter %}
    {{ form.media }}
    <form class="d-flex me-2" method="post">
     <label for="enabled" class="d-flex align-items-center text-white-50 text-nowrap">Enabled Only:&nbsp;&nbsp;</label>
     {{ form.enabled }}&emsp;
     <label for="system" class="d-flex align-items-center text-white-50">System:&nbsp;&nbsp;</label>
     {% csrf_token %}
     {{ form.system }}
    </form>
{% endblock filter %}

{% block body %}
{% block bootstrap5_content %}
<div class="container-fluid">
    <div class="py-4 row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row row-cols-sm-1 row-cols-md-2 g-3">
                    <div class="col-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Overview for All {% if form.enabled.value %}Enabled {% endif %}Accounts {% if form.system.value %}on {{ form.system.value }}{% endif %}</h5>
                                <div class="card-text>">
                                    <ul>
                                        {% if cracked_user_percent %}
                                        <li>Secrets known for {{ cracked_unique_user_accounts|intcomma }} out of {{ unique_user_accounts|intcomma }} unique <em>user</em> accounts ({{ cracked_user_percent|floatformat:2 }}%)</li>
                                        {% endif %}
                                        {% if cracked_machine_percent %}
                                        <li>Secrets known for {{ cracked_unique_machine_accounts|intcomma }} out of {{ unique_machine_accounts|intcomma }} unique <em>machine\managed service</em> accounts ({{ cracked_machine_percent|floatformat:2 }}%)</li>
                                        {% endif %}
                                    </ul>
                                    {% if cracked_unique_user_accounts or cracked_unique_machine_accounts %}
                                        <p>{{ password_is_username }} account{{ password_is_username|pluralize }} where password is the username.</p>
                                    {% endif %}
                                {% if hash_types %}
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Hash type</th>
                                                <th>Count</th>
                                            </tr>
                                        </thead>
                                        {% for hash_type, count in hash_types.items %}
                                        <tr>
                                            <th>{{ hash_type }}</th>
                                            <td>{{ count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% if cracked_unique_user_accounts or cracked_unique_machine_accounts %}
                    {% if top10 %}
                    <div class="col-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {% if top10|length > 1 %}Top {{ top10|length }} {% endif %}Most Reused Password{{ top10|pluralize }}
                                    <button class="markdown-table-copy btn btn-sm btn-light float-sm-end" title="Copy table as markdown"><i class="fa-solid fa-code"></i></button>
                                </h5>
                                <div class="card-text">
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Password</th>
                                                <th>Count</th>
                                            </tr>
                                        </thead>
                                    {% for cred in top10 %}
                                        <tr>
                                            <th>{{ cred.secret|default:"<em>blank</em>" }}</th>
                                            <td>{{ cred.occurrences|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if top10prefixstrings %}
                    <div class="col-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {% if top10prefixstrings|length > 1 %}Top {{ top10prefixstrings|length }} {% endif %}Most Common Password Prefix{{ top10prefixstrings|pluralize:'es' }}
                                    <button class="markdown-table-copy btn btn-sm btn-light float-sm-end" title="Copy table as markdown"><i class="fa-solid fa-code"></i></button>
                                </h5>
                                <div class="card-text">
                                    <p>Passwords which varied only by appended digits or symbols most commonly started with:</p>
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Prefix</th>
                                                <th>Variants</th>
                                            </tr>
                                        </thead>
                                    {% for cred in top10prefixstrings %}
                                        <tr>
                                            <th>{{ cred.0|default:"<em>blank</em>" }}</th>
                                            <td>{{ cred.1|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if top10suffixstrings %}
                    <div class="col-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {% if top10suffixstrings|length > 1 %}Top {{ top10suffixstrings|length }} {% endif %}Most Common Password Suffix{{ top10suffixstrings|pluralize:'es' }}
                                    <button class="markdown-table-copy btn btn-sm btn-light float-sm-end" title="Copy table as markdown"><i class="fa-solid fa-code"></i></button>
                                </h5>
                                <div class="card-text">
                                    <p>Passwords which varied only by prepended digits or symbols most commonly ended with:</p>
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Suffix</th>
                                                <th>Variants</th>
                                            </tr>
                                        </thead>
                                    {% for cred in top10suffixstrings %}
                                        <tr>
                                            <th>{{ cred.0|default:"<em>blank</em>" }}</th>
                                            <td>{{ cred.1|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if top10pwned %}
                    <div class="col-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {% if top10pwned|length > 1 %}Top {{ top10pwned|length }} {% endif %}Weakest Password{{ top10pwned|pluralize }}
                                    <button class="markdown-table-copy btn btn-sm btn-light float-sm-end" title="Copy table as markdown"><i class="fa-solid fa-code"></i></button>
                                </h5>
                                <div class="card-text>">
                                    <p>{% if weak_user_percent %}
                                        {{ weak_unique_user_accounts|intcomma }} out of {{ unique_user_accounts|intcomma }} unique <em>user</em> accounts ({{ weak_user_percent|floatformat:2 }}%) use common passwords found in breached data.
                                        {% endif %}</p>
                                <p>{% if weak_machine_percent %}
                                        {{ weak_unique_machine_accounts|intcomma }} out of {{ unique_machine_accounts|intcomma }} unique <em>machine\managed service</em> accounts ({{ weak_machine_percent|floatformat:2 }}%) use common passwords found in breached data.
                                        {% endif %}</p>
                                        <p>Based on haveibeenpwned.com data.</p>
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Password</th>
                                                <th>Occurrences in Public Breaches</th>
                                                <th>Occurrences in {% if form.system.value %}{{ form.system.value }}{% else %}All Systems{% endif %}</th>
                                            </tr>
                                        </thead>
                                    {% for cred in top10pwned %}
                                        <tr>
                                            <th>{{ cred.secret|default:"<em>Uncracked</em>" }}</th>
                                            <td>{{ cred.haveibeenpwned_count|intcomma }}</td>
                                            <td>{{ cred.account_count|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-6">
                        <div class="card h-100 shadow-sm bg-white">
                            <img class="w-75 mx-auto" src="{% url "event_tracker:password-length-chart" view.kwargs.task_id %}"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card h-100 shadow-sm bg-white">
                            <img src="{% url "event_tracker:password-complexity-piechart" view.kwargs.task_id %}"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card h-100 shadow-sm bg-white">
                            <img src="{% url "event_tracker:password-structure-piechart" view.kwargs.task_id %}"/>
                        </div>
                    </div>
                {% endif %}
                {% if has_bloodhound_users %}
                    <div class="col-6">
                        <div class="card h-100 shadow-sm bg-white">
                            <img class="ww-75 mx-auto" src="{% url "event_tracker:password-age-chart" view.kwargs.task_id %}"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Top {{ old_passwords|length }} Oldest Passwords for {% if form.enabled.value %}Enabled {% endif %}Accounts {% if form.system.value %}on {{ form.system.value }}{% endif %}
                                    <button class="markdown-table-copy btn btn-sm btn-light float-sm-end" title="Copy table as markdown"><i class="fa-solid fa-code"></i></button>
                                </h5>
                                <div class="card-text>">
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Account</th>
                                                <th>Password Set</th>
                                                <th>Last Login</th>
                                            </tr>
                                        </thead>
                                    {% for account in old_passwords %}
                                        <tr>
                                            <th>{{ account.0 }}</th>
                                            <td>{{ account.1.to_native|render_ts_local }}</td>
                                            {% if account.3 > 0 %}
                                                <td>{{ account.2.to_native|render_ts_local }}</td>
                                            {% else %}
                                                <td><em>n/a</em></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if spanning_accounts|length > 0 %}
                    <div class="col-12">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Password Reuse Across Systems
                                    <button class="markdown-table-copy btn btn-sm btn-light float-sm-end" title="Copy table as markdown"><i class="fa-solid fa-code"></i></button>
                                </h5>
                                <div class="card-text>">
                                    <div class="table-responsive">
                                        <div>{{ spanning_accounts|length }} accounts affected ({{ spanning_accounts_cracked_count }} cracked):</div>
                                        <table class="table table-sm table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Password Cracked?</th>
                                                    {% for system in spanned_systems.keys %}
                                                    <th>Password re-used in {{system}}?</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            {% for account, cracked in spanning_accounts.items %}
                                            <tr>
                                                <th>{{ account }}</th>
                                                <td>{% if cracked %}Y{% else %}N{% endif %}</td>
                                                {% for system in spanned_systems.keys %}
                                                    {% if account in spanned_systems|getdictentry:system %}<td>Y</td>{% else %}<td>N</td>{% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
      </div>
    </div>
</div>
{% endblock bootstrap5_content %}
{% endblock body %}