{% extends "base/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block cred-menu-class %}
active
{% endblock %}

{% block title %}
Upload Hashes
{% endblock title %}

{% block head %}
{% include "base/external-libs/jquery.html" %}
{% endblock %}

{% block body %}
{% block bootstrap5_content %}
<div class="container">
  <main>
    <div class="py-3">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <a href="{% url 'event_tracker:credential-list' 1 %}" role="button" class="btn btn-secondary">Cancel</a>

            <button type="submit" class="btn btn-success">Upload</button>
        </form>
    </div>
  </main>
</div>

<script nonce="{{csp_nonce}}">
$("#id_type").on("click", update_fields)

function  update_fields() {
    var needs_system = $("[value='user:hash']").is(":checked") || $("[value='user:secret']").is(":checked") || $("[value='user:hash:secret']").is(":checked") || $("[value='grep']").is(":checked") || $("[value='pwdump']").is(":checked") ;
    var needs_hashtype = $("[value='user:hash']").is(":checked") || $("[value='user:hash:secret']").is(":checked");

    if (needs_system === true) {
        $("[name=system]").removeAttr('disabled')
        if ($("[value='grep']").is(":checked")) {
            $("[name=system]").attr("placeholder", "System if not found by regex")
        }
        else if ($("[value='pwdump']").is(":checked")) {
            $("[name=system]").attr("placeholder", "System if not part of account name")
        }
        else {
            $("[name=system]").attr("placeholder", "System")
        }
    } else {
        $("[name=system]").attr('disabled', true)
        $("[name=system]").attr("placeholder", "n/a")
    }

    if (needs_hashtype === true) {
        $("[name=hash_type]").removeAttr('disabled')
        $("[name=hash_type]").val("1000")
    } else {
        $("[name=hash_type]").attr('disabled', true)
        $("[name=hash_type]").val("x")
    }
}

$(function() {
    update_fields();
});
</script>
{%  endblock bootstrap5_content %}
{% endblock body %}
