{% extends "base/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block cred-menu-class %}
active
{% endblock %}

{% block title %}
Upload Cracked Hashes - Results
{% endblock title %}

{% block body %}
{% block bootstrap5_content %}
<div class="container">
  <main class="p-3">
      <div class="row justify-content-center">
          <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Newly cracked hashes</th>
                    <td>{{ cracked_hashes }}</td>
                </tr>
                <tr>
                    <th>Affected accounts</th>
                    <td>{{ cracked_accounts }}</td>
                </tr>
            </table>
            
            <a href="{% url "event_tracker:credential-list" task_id %}" type="submit" class="btn btn-success">OK</a>
        </div>
      </div>
  </main>
</div>
{%  endblock bootstrap5_content %}
{% endblock body %}
