{% extends "base/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block cred-menu-class %}
active
{% endblock %}

{% block title %}
Upload Cracked Hashes
{% endblock title %}

{% block body %}
{% block bootstrap5_content %}
<div class="container">
  <main>
    <div class="py-3">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <a href="{% url 'event_tracker:credential-list' 1 %}" role="button" class="btn btn-secondary">Cancel</a>

            <button type="submit" class="btn btn-success">Upload</button>
        </form>
    </div>
    <div class="alert alert-info" role="alert">Alternatively, you can use this custom <a href="{% url "event_tracker:credential-hash-uploader-config" 1 %}" download>hashmob_config.ini</a>
    with <a href="https://github.com/neonbunny/HashmobAPIUploader">https://github.com/neonbunny/HashmobAPIUploader</a> to stream
        newly cracked passwords into Stepping Stones.</div>
  </main>
</div>
{%  endblock bootstrap5_content %}
{% endblock body %}
