{% extends "base/base.html" %}
{% load custom_tags %}
{% load static %}

{% block cred-menu-class %}
active
{% endblock %}

{% block title %}
Credential List
{% endblock title %}

{% block head %}
    {% include "base/external-libs/jquery.html" %}
    {% include "base/external-libs/datatables-basic.html" %}

    <script src="{% static "/scripts/bootstrap_input.js" %}"></script>

    <style nonce="{{request.csp_nonce}}">
    .copyToClipboard { text-decoration: none; cursor: copy; color: var(--bs-body-color) }
    .copyToClipboard i { opacity: 25%; color: var(--bs-secondary-color) }
    .copyToClipboard:hover { text-decoration: none; cursor: copy}
    .copyToClipboard:hover i { opacity: 100% !important }
    .fa-check { color: var(--bs-success) }
    .fa-xmark { color: var(--bs-danger) }
    div:has(> .dt-search) { padding-right: 0}
    div:has(+.dt-layout-table) {
        padding-top: 0.5em;
        padding-bottom: 1em;
    }
    </style>
{% endblock head %}

{% block body %}
{% block bootstrap5_content %}
<div class="container-fluid">
        <div id="page-controls">
            {% if perms.event_tracker.add_credential %}
            <div class="btn-group" role="group" aria-label="Creation">
                <a href="{% url 'event_tracker:credential-add' 1 %}" class="btn btn-success"><i class="fa-solid fa-book-medical"></i> Add Credential</a>
                <a href="{% url 'event_tracker:credential-hashes-upload' 1 %}" class="btn btn-success"><i class="fa-solid fa-file-arrow-up"></i> Upload Dump</a>
            </div>
            {% endif %}
            {% if object_list %}
            {% if plugins %}
                <div class="btn-group" role="group">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-file-signature"></i> Reporting
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for plugin in plugins %}
                            {% ifchanged plugin.category %}
                                {% if not forloop.first %}<li><hr class="dropdown-divider"></li>{% endif %}
                                <li><h6 class="dropdown-header">{{ plugin.category }}</h6></li>
                            {% endifchanged %}
                            <li><a href="{% url plugin.entry_point_name view.kwargs.task_id %}" class="dropdown-item"><i class="{{ plugin.icon_class }}"></i> {{ plugin.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="btn-group" role="group" aria-label="Downloads">
                <div class="dropdown">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-book"></i> Wordlist
                  </button>
                  <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">Hashcat -a 0</h6></li>
                    <a href="{% url 'event_tracker:credential-wordlist' 1 %}" class="dropdown-item">Wordlist</a>
                    <li><hr class="dropdown-divider"></li>
                    <li><h6 class="dropdown-header">Hashcat -a 6</h6></li>
                    <a href="{% url 'event_tracker:prefix-wordlist' 1 %}" class="dropdown-item">Prefix List</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><h6 class="dropdown-header">Hashcat -a 7</h6></li>
                    <a href="{% url 'event_tracker:suffix-wordlist' 1 %}" class="dropdown-item">Suffix List</a></li>
                  </ul>
                </div>
                <div class="dropdown">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-masks-theater"></i> Masklist
                  </button>
                  <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">Hashcat -a 3</h6></li>
                    <a href="{% url 'event_tracker:credential-masklist' 1 1 %}" class="dropdown-item">All</a></li>
                    <a href="{% url 'event_tracker:credential-masklist' 1 8 %}" class="dropdown-item">&gt;7 chars</a></li>
                    <a href="{% url 'event_tracker:credential-masklist' 1 9 %}" class="dropdown-item">&gt;8 chars</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><h6 class="dropdown-header">Hashcat -a 6</h6></li>
                    <a href="{% url 'event_tracker:suffix-masklist' 1 %}" class="dropdown-item">Suffix Masks</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><h6 class="dropdown-header">Hashcat -a 7</h6></li>
                    <a href="{% url 'event_tracker:prefix-masklist' 1 %}" class="dropdown-item">Prefix Masks</a></li>
                  </ul>
                </div>

                <div class="dropdown">
                  <button class="btn btn-outline-secondary dropdown-toggle {% if hashtypes|length == 0 %}disabled{% endif %}" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-hashtag"></i>  Uncracked Hashes
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for hashtype in hashtypes %}
                        <li><a class="dropdown-item" href="{% url 'event_tracker:credential-uncracked-hashes' 1 hashtype.value %}">{{ hashtype.name|underscore_to_space }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                {% if perms.event_tracker.change_credential %}
                <a href="{% url 'event_tracker:credential-cracked-hashes-upload' 1 %}" class="btn btn-outline-secondary"><i class="fa-solid fa-file-arrow-up"></i> Upload Cracked Hashes</a>
                {% endif %}
            </div>
            <a href="{% url 'event_tracker:credential-stats' 1 %}" class="btn btn-outline-secondary"><i class="fa-solid fa-calculator"></i> Stats</a>
            {% endif %}
      </div>

    <div class="row">
      <div class="col-md-12">
        {% if object_list %}
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">System</th>
              <th scope="col">Account</th>
              <th scope="col">Enabled</th>
              <th scope="col">Secret</th>
              <th scope="col">Purpose</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        {% else %}
        <div class="alert alert-secondary mt-3" role="alert">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No credentials logged, please add one.
        </div>
        {% endif %}
      </div>
    </div>
</div>

<script nonce="{{request.csp_nonce}}">
function copyToClipboard(element) {
    jq_element = $(element);
    navigator.clipboard.writeText(jq_element.text());
    // Remove any other done clipboards on the page
    $('i.fa-clipboard-check').replaceWith('<i class="fa-regular fa-paste ms-1"></i>');
    // Mark our clipboard as done
    jq_element.children('i').replaceWith('<i class="fa-solid fa-clipboard-check ms-1 opacity-50"></i>');
}
</script>



<div class="modal" tabindex="-1" id="credential-to-delete-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button role="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <span id="credential-to-delete-str"></span></p>
      </div>
      <div class="modal-footer">
        <button role="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form method="post" action="{% url 'event_tracker:credential-delete' 1 0 %}" id="credential-to-delete-form">{% csrf_token %}<input type="submit" value="Delete" class="btn btn-danger"></form>
      </div>
    </div>
  </div>
</div>

<script nonce="{{request.csp_nonce}}">
function deleteCredential(src) {
    src_q = $(src);

    str = "Credential for: " + src_q.parents("tr").find(".system").text() +
        "\\" + src_q.parents("tr").find(".account").text();

    $("#credential-to-delete-str").text(str);
    $("#credential-to-delete-form").attr("action", src_q.attr("data-delete-url"));
    $('#credential-to-delete-modal').modal('show');
}

$(function () {
  $('[data-toggle="tooltip"]').tooltip();
  $.fn.dataTable.moment('{% datetime_format_moment %}');
  $('.table').DataTable({
      pagingType: "bootstrap_input",
      searching: true,
      paging: true,
      processing: true,
      serverSide: true,
      ajax: "{% url 'event_tracker:credential-list-json' 1 %}",
      layout: {
            topStart: {
                features: [$("#page-controls").detach()]
            },
      },
      fixedHeader: {
            header: true,
            headerOffset: $('.navbar').outerHeight()
        },
      order: [[0, 'desc']],
      columns: [
        null,
        null,
        null,
        null,
        null,
        { orderable: false },
      ]
  } ).on("draw.dt",
    function() {
      // Each time we draw a page on the table, update the event handlers for the newly drawn elements
      $("a[title='Delete Credential']").on("click", function() {deleteCredential(this)} );
      $(".copyToClipboard").on("click", function() {copyToClipboard(this)});
    }
  );

})
</script>

{% endblock bootstrap5_content %}
{% endblock body %}