{% extends "base/base.html" %}
{% load static %}

{% block eventstream-menu-class %}
active
{% endblock %}

{% block title %}
EventStream
{% endblock title %}

{% block head %}
    {% include "base/external-libs/jquery.html" %}
    {% include "base/external-libs/datatables-pdfexport.html" %}

    <script src="{% static "/scripts/jquery.expander.js" %}"></script>

    <link rel="stylesheet" href="{% static "css/event_table.css"%}">
    <script src="{% static "scripts/event_table.js" %}"></script>
    <script nonce="{{csp_nonce}}">
    let eventTableConfig = {
        monospaceFontURL: '{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "fonts/RobotoMono-Regular.ttf" %}',
        brandingSVG: '{{REPORT_FOOTER_IMAGE}}',
        brandingText: '{{REPORT_FOOTER_TEXT}}',
        totalColumns: 7,
        descriptionColumn: 3,
    }
    </script>
    
    <style nonce="{{csp_nonce}}">
    .fa-ul {
        margin-left: 30px; margin-bottom: 0px
    }

    table.dataTable tr td:nth-child(4) {
        word-break: break-all;
    }
    .dt-buttons {
        float: right;
        padding-left: .25em;
    }
    .dt-buttons > .btn {
        padding: .200rem .75rem;
    }
    div.dataTables_wrapper div.dataTables_info {
        padding-top: 0;
    }

    .table-striped-columns th {
        width: 100px;
        text-transform: capitalize;
    }

    .table-striped-columns th::after {
        content: ':';
    }
    
    div:has(+.dt-layout-table) {
        padding-top: 0.5em;
        padding-bottom: 1em;
    }

    .ctx {
        display: inline-block;
    }
    
    /* Incorperate text-muted from Bootstrap and fa-li from fontawesome */
    .ctx i {
        color: var(--bs-secondary-color)!important;
        width: var(--fa-li-width,1.5em);
        text-align: center;
    }
    
    .more-link {
        white-space: nowrap;
    }
    </style>
{% endblock head %}

{% block body %}
{% block bootstrap5_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="page-controls">
            {% if perms.event_tracker.add_eventstream %}
                <div class="btn-group" role="group">
                    <a href="{% url 'event_tracker:eventstream-upload' %}" class="btn btn-success"><i class="fa-solid fa-house-flood-water"></i> Upload EventStream</a>
    
                    <div class="dropdown">
                      <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-info-circle"></i> EventStream Spec.
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% static 'eventstream/eventstream-example.json' %}">Example File</a></li>
                        <li><a class="dropdown-item" href="{% static 'eventstream/eventstream.schema.json' %}">Schema</a></li>
                        <li><a class="dropdown-item" href="{% static 'eventstream/schema-doc.html' %}">Schema Doc</a></li>
                      </ul>
                    </div>
                </div>
            {% endif %}
            {% if source_plugins %}
                <div class="btn-group" role="group">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ship"></i> Sources
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for plugin in source_plugins %}
                            {% ifchanged plugin.category %}
                                {% if not forloop.first %}<li><hr class="dropdown-divider"></li>{% endif %}
                                <li><h6 class="dropdown-header">{{ plugin.category }}</h6></li>
                            {% endifchanged %}
                            <li><a href="{% url plugin.entry_point_name %}" class="dropdown-item"><i class="{{ plugin.icon_class }}"></i> {{ plugin.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="mt-2">
                <table class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Timestamp</th>
                      <th scope="col">Source</th>
                      <th scope="col">Target</th>
                      <th scope="col">Description</th>
                      <th scope="col">MITRE</th>
                      <th scope="col">Additional Data</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
    
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script nonce="{{csp_nonce}}">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
      $.fn.dataTable.moment('{% datetime_format_moment %}');
      $('.table').DataTable({
          "processing": true,
          "serverSide": true,
          "ajax": "{% url 'event_tracker:eventstream-json' %}",
          language: {
            emptyTable: "No imported events found",
            searchBuilder: {
                button: {
                    0: 'Timebox',
                    _: 'Timebox (%d)'
                }
            },
            entries: {
                _: 'events',
                1: 'event'
            }
          },
          buttons:[
            {
              extend: 'searchBuilder',
              config: {
                columns: [0],
                conditions: {
                  moment: {
                    '!between': null,
                    '!null': null,
                    'null': null,
                    '=': null,
                    '!=': null
                  }
                },
              }
            },
            {
                text: 'Export PDF',
                action: pdfExportAction,
                extend: 'pdfHtml5',  // Required to pull in default config
                orientation: "landscape",
                customize: pdfExportCustomize,
                title: "EventStream Logs",
                exportOptions: {
                    stripNewlines: false,
                    orthogonal: 'export'  // Force a fresh call to the render function below passing in "export" as the type
                }
            },
          ],
          layout: {
            topStart: {
                features: [$("#page-controls").detach()]
            },
          },
          fixedHeader: {
            header: true,
            headerOffset: $('.navbar').outerHeight()
          },
          order: [[0, 'desc']],
          columns: [
            { searchBuilderType: "moment-{% datetime_format_moment %}" },
            { orderable: false },
            { orderable: false },
            { render: descriptionRender },
            null,
            { orderable: false },
            { orderable: false },
          ],
          drawCallback: tableDrawCallback
      } )
    })
</script>
{%  endblock bootstrap5_content %}
{% endblock body %}
